@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: black;
}
.main{
    background-image: url(Assets/Netflix_background.jpg);
    height:90vh;
    /* width:100vw; */
    background-size:max(1200px,100vw);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity:0.7;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height:60px;
    padding: 15px;
}
nav img{
    width:154px;
    position: relative;
    z-index: 999;
}
nav button{
    position: relative;
    z-index: 999;
}
.hero{
    height: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    justify-content:center;
    align-items: center;
    font-family: "Open Sans",sans-serif;
    gap:23px;
    
}
.hero h1{
    font-weight: 1000;
    text-align: center;
    font-size: 50px;
}
.hero p{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.hero h3{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.seperation{
    background-color: grey;
    height: 7px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}
.btn{
    padding: 5px 10px;
    background-color:transparent;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.331);
    border-radius: 4px;
    /* width: 110px; */
    /* height:33px; */
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
}
.btn-red{
    background-color: rgb(224, 0, 0);
    border: none;
    width: 80px;
}
.btn-red-gs{
    font-size: 23px;
    padding:10px 20px 10px 20px;
    background-color: rgb(233, 0, 0);
    border: none;
}
.hero-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:7px;
}
input{
    border:1px solid rgba(255, 255, 255, 0.47);
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 4px;
    font-size:15px;
    font-weight: 500;
    font-family: "Poppins";
    padding: 15px 137px 15px 14px;
    color: white;
}
@media only screen and (max-width:550px){
    .hero-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
    }
}
.first h1{
    font-size: 48px;
    font-weight: 700;
    padding: 3px;
}
.first p{
    font-size: 20px;
    padding:4px;
}
.hero h1{
    font-size: 30px;
}
@media only screen and (max-width:420px){
.btn{
    padding: 2.5px 5px;
    background-color:transparent;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.331);
    border-radius: 4px;
    /* width: 110px; */
    /* height:33px; */
    font-family: "Poppins";
    font-weight: 500;
    font-size: 10px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
}
.btn-red{
    background-color: rgb(224, 0, 0);
    border: none;
    width: 50px;
}
.btn-red-gs{
    font-size: 13px;
    padding:10px 20px 10px 20px;
    background-color: rgb(233, 0, 0);
    border: none;
}
.hero h1{
    font-weight: 1000;
    text-align: center;
    font-size: 30px;
}
nav img{
    width:100px;
}
}
.first{
    font-family: "Open-Sans",sans-serif;
    padding: 70px;
    width:100%;
    display: flex;
    color: white;
    justify-content:center;
    align-items: center;
    max-width: 70vw;
    margin:auto;
    gap:70px;
}
/* .first h1{
    width:700px;
} */
.secimg img{
    width:348px;
    height:200px;
}
.secimg{
    position: relative;
}
.secimg video {
    width: 616px;
    height: 190px;
    position: absolute;
    top: -41px;
    right: -179px;
    padding: 46px; 
}
.seperation2{
    height: 6px;
    width:90vw;
    margin: auto;
    background: linear-gradient(to right, rgb(0, 0, 0) 16%, rgb(81, 81, 81), rgb(139, 139, 139), rgb(81, 81, 81), rgb(0, 0, 0) 84%);
}
.second img{
    height:300px;
    width:150px;
}
.second{
    max-width: 75vw;
    padding: 22px;
}
.second h1{
    width:700px;
}
.secimg2 img{
    width:300px;
}
@media only screen and (max-width:1000px){
.first{
    padding: 70px;
    /* width:100%; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:center;
    align-items: flex-start;
    /* max-width: 70vw; */
    margin:auto;
    gap:70px;
    /* text-align: center; */
    /* font-size: 0.2rem; */

}
.first h1{
    width:auto;
}
.second h1{
    width: auto;
}
.secimg img{
    width: 250px;
    height: auto;  /* keeps ratio */
  }
.secimg video {
    width: 243px;
    height: auto;
    position: absolute;
    top: -44px;
    right: -42px;
    padding: 46px; 
}
}
@media only screen and (max-width:700px){
.secimg img{
    width: 180px;
    height: auto;
  }
.secimg video {
    width: 175px;
    height: auto;
    position: absolute;
    top: -43px;
    right: -44px;
    padding: 46px;
}
.secimg2 img{
    width:150px;
}
}
@media only screen and (max-width:500px){
  .first h1 {
      font-size: 22px;
  }
  .first p {
      font-size: 14px;
  }
}
.faq{
    background-color: black;
    color:white;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    padding-bottom: 75px;
}
.faq h2{
    padding-top: 60px;
}
.faqbox{
    width:75vw;
    background-color:  rgb(45, 45, 45);
    display: flex;
    padding: 24px;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faqbox:hover{
    animation-name: hoveranimation1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.faqbox:not(:hover){
    animation-name: hoveranimation2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes hoveranimation1 {
    from{
        background-color: rgb(45, 45, 45);
    }
    to{
        background-color:  rgb(74, 74, 74);
    }
}
@keyframes hoveranimation2 {
    from{
        background-color:  rgb(74, 74, 74);
    }
    to{
        background-color:  rgb(45, 45, 45);
    }
}
.sectend{
    color:white;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    padding-bottom: 65px;
}
footer{
    max-width: 80vw;
    margin: auto;
    font-family: "Poppins",sans-serif;
    color: rgba(255, 255, 255, 0.675);
}
footer span{
    margin-left: 35px;
}
.footer{
    color: rgba(255, 255, 255, 0.675);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px;
    font-size: 14px;
    gap:23px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap:9px;
}
footer a{
    color: rgba(255, 255, 255, 0.675);
}
@media only screen and (max-width:1000px){
    .footer{
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
}
@media only screen and (max-width:600px){
    .footer{
        grid-template-columns: 1fr;
        gap:10px;
    }
    footer span{
        font-size: 7px;
    }
    input{
        font-size: 10px;
        padding: 15px 100px 15px 14px;
    }
    .faqbox{
        width:60vw;
        font-size: 17px;
        padding: 16px;
    }
    .faq h2{
        font-size: 15px;
    }
}
.footerbtn button{
    margin: 35px;
}
.footerend div{
    margin-left: 35px;
    margin-bottom: 25px;
}
.end{
    margin-left: 65px;
    font-size: 12px;
}
.footerend a{
    color:rgb(68, 142, 244)
}
.footerend{
    margin-bottom: 150px;
}
